/* Defaults */
.root {
    -fx-font-family: "Helvetica";
    -fx-font-size: 10pt;
}

/* White buttons with hover effect */
.button {
    -fx-background-color: white;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #d7d7d7;
}

/* Rounded, white text fields with thin gray border */
.text-field {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: #b5b5b5;
}

/* Spinner */
.spinner {
    -fx-background-color: transparent;
}

/* Spinner buttons color */
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: #b5b5b5, white, white, white;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: #b5b5b5, #e7e7e7, transparent, #e7e7e7;
}

/* Text field corners are rounded on left side */
.spinner .text-field {
    -fx-background-radius: 5 0 0 5;
    -fx-border-radius: 5 0 0 5;
}

/* Main menu gradient background */
#main-menu-background {
    -fx-background-color: linear-gradient(to bottom right, rgba(180, 49, 0, 0.6), rgba(209, 29, 201, 0.6), rgba(0, 212, 255, 0.6));
    -fx-text-background-color: #ffffff;
}

/* Game UI */
/* Border pane background */
#game-background {
    -fx-background-color: linear-gradient(to right, rgba(255, 174, 224, 1), rgba(138, 200, 255, 1));
}

/* Top bar */
#top-bar {
    -fx-background-color: white;
}

#cancel-button {
    -fx-background-color: #ced4da;
}

#cancel-button:pressed {
    -fx-background-color: #adb5bd;
}

/* Scroll pane with rounded corners and an other scroll bar color */
.scroll-pane {
    -fx-background-radius: 5;
    -fx-background-color: white;
}

.scroll-pane .viewport {
    -fx-background-color: white;
}

.scroll-bar:horizontal,
.scroll-bar:horizontal .track,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #ced4da;
}