/* Defaults */
.root {
    -fx-font-family: "Helvetica";
    -fx-font-size: 10pt;
}

/* White labels on dark background */
#white-label {
    -fx-text-fill: #ffffff;
}

/* Black labels on white background */
#black-label {
    -fx-text-fill: #000000;
}

/* White buttons with hover effect */
.button {
    -fx-background-color: white;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #e7e6e6;
}

/* Rounded, white text fields with thin gray border */
.text-field {
    -fx-background-color: white;
    -fx-background-radius: 5;
}

/* Spinner */
.spinner {
    -fx-background-color: white;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: white;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-background-color: #e7e6e6;
}

.spinner .text-field {
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 5 0 0 5;
}

/* Main border pane background */
#background-ui {
    -fx-background-color: #2d2d2d;
}

/* Toggle Buttons in main menu */
#main-menu-toggle-buttons {
    -fx-background-color: rgba(255, 255, 255, 0.4);
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0, 0;
}

#main-menu-toggle-buttons:selected {
    -fx-background-color: rgba(255, 255, 255, 0.8);
}

#start-button {
    /*-fx-background-radius: 5 0 0 0;*/
    -fx-shape: "M 0 5 L 1 1 L 5 0 L 5 5";
}

/* Top bar */
#top-bar {
    -fx-background-color: #f6f6f6;
}

#cancel-button {
    -fx-background-color: #ced4da;
}

#cancel-button:pressed {
    -fx-background-color: #adb5bd;
}

/* Top bar progress bar */
#top-bar-progress-bar .bar {
    -fx-background-color: #aa0c0c;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

#top-bar-progress-bar .track {
    -fx-background-radius: 0;
    -fx-background-color: #f6f6f6;
}

/* Scroll pane with rounded corners and an other scroll bar color */
.scroll-pane {
    -fx-background-radius: 5;
    -fx-background-color: white;
    -fx-background-insets: 0, 0, 0, 0, 0;
}

.scroll-pane .viewport {
    -fx-background-color: white;
}

.scroll-bar:horizontal,
.scroll-bar:horizontal .track,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #ced4da;
}